:root {
    --primary-color: #1B3357;
    --secondary-color: #13514B;
    --text-color: #333;
    --white: #fff;
    --light-gray: #f4f4f4;
    --ford-blue: #620000;
    --table-header-bg: #13514B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: var(--white);
    color: var(--text-color);
    padding: 1rem 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(31, 0, 232, 0.2);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2300px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
}

.menu-container {
    position: absolute;
    left: 50%;
    transform: translateX(-55%);
}

.logo {
    height: 100px;
}

main {
    flex: 1;
    max-width: 1200px;
    margin: 10px auto;
    padding: 0 20px;
    width: 100%;
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav ul li {
    margin-left: 20px;
}

.main-nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.social-media-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--white);
    margin-right: 10px; 
    white-space: nowrap;
}

.hero-image-container,
.video-container {
    max-width: 1000px;
    min-width: 350px;
    margin: 0 auto;
    border-radius: 8px;
    display: block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.hero-text,
.promo-description {
    max-width: 2300px;
    margin: 20px auto 0;
    padding: 0 90px;
    text-align: center;
}

.hero-text h2,
.promo-description h2 {
    font-size: 2.0rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.hero-text p,
.promo-description p {
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 1.3;
    margin-bottom: 15px;
}

footer {
    background: var(--primary-color);
    color: var(--white);
    padding: 1rem 0;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 30px;
}

.footer-content p {
    text-align: center;
    margin: 0;
}

.social-media {
    justify-self: start;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media a {
    display: inline-block;
    margin-right: 10px;
}

.social-media img {
    height: 30px;
    width: 30px;
    transition: transform 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        text-align: center;
        padding: 0 20px;
    }

    .logo {
        margin-bottom: 15px;
    }

    .menu-container {
        position: static;
        left: auto;
        transform: none;
        width: 100%;
    }

    .main-nav ul {
        flex-direction: column;
        align-items: center;
    }

    .main-nav ul li {
        margin: 15px 0;
    }

    .main-nav ul li a {
        font-size: 1.2rem;
    }

    .contato-conteudo {
        flex-direction: column; 
        align-items: center;
    }

    .imagem-container {
        max-width: 100%;
    }

    .social-media, .footer-logo {
        justify-self: center;
    }

    .social-media a {
        margin: 0 8px;
    }
}

@media (max-width: 480px) {
    .header-content {
        padding: 0 10px;
    }

    .logo {
        height: 40px;
    }

    .main-nav ul li {
        margin: 8px 0;
    }

    main {
        padding: 0 10px;
    }

}